<h2>Carregando Dataset</h2>

In [14]:
from controlador.controlador import executar_analise
from algoritmos.limpeza_dados import leitor_geral_especifico_zip, converter_datas
from algoritmos.filtragem import filtrar_classificados, filtrar_uf
from algoritmos.filtragem import filtrar_classificados

In [4]:
caminhos_zip = [ # Caminhos dos csvs 2020-2025
        "dados/DENGBR20.zip",
        "dados/DENGBR21.zip",
        "dados/DENGBR22.zip",
        "dados/DENGBR23.zip",
        "dados/DENGBR24.zip",
        "dados/DENGBR25.zip",
    ]

colunas_necessarias = [ # colunas usadas na análise
    "DT_NOTIFIC",
    "SEM_NOT",
    "NU_ANO",
    "SG_UF_NOT",
    "DT_SIN_PRI",
    "NU_IDADE_N",
    "CS_SEXO",
    "CLASSI_FIN",
]

dados = leitor_geral_especifico_zip(caminhos_zip, colunas_necessarias)

Lendo DENGBR20.csv de dentro de dados/DENGBR20.zip
Lendo DENGBR21.csv de dentro de dados/DENGBR21.zip
Lendo DENGBR22.csv de dentro de dados/DENGBR22.zip
Lendo DENGBR23.csv de dentro de dados/DENGBR23.zip
Lendo DENGBR24.csv de dentro de dados/DENGBR24.zip
Lendo DENGBR25.csv de dentro de dados/DENGBR25.zip
Total de linhas após leitura geral (zip): 13344402
Colunas do DataFrame final: ['dt_notific', 'sem_not', 'nu_ano', 'sg_uf_not', 'dt_sin_pri', 'nu_idade_n', 'cs_sexo', 'classi_fin']

In [16]:
dados = converter_datas(dados)
dados = filtrar_classificados(dados)

Filtrar classificados: 13344402 -> 12327380 linhas (descartados removidos).

In [17]:
dados

,dt_notific,sem_not,nu_ano,sg_uf_not,dt_sin_pri,nu_idade_n,cs_sexo,classi_fin
15,2020-05-18,NaN,2020,12,2020-05-10,4035.0,F,10.0
19,2020-01-31,NaN,2020,12,2020-01-17,4022.0,F,10.0
22,2020-01-16,NaN,2020,12,2020-01-06,4012.0,M,10.0
26,2020-10-08,NaN,2020,12,2020-09-28,4034.0,F,10.0
28,2020-11-26,NaN,2020,12,2020-11-15,4042.0,F,10.0
...,...,...,...,...,...,...,...,...
13344397,2025-07-04,202527.0,2025,17,2025-06-27,3008.0,F,10.0
13344398,2025-07-04,202527.0,2025,17,2025-07-03,4027.0,M,NaN
13344399,2025-07-04,202527.0,2025,17,2025-07-01,4021.0,M,NaN
13344400,2025-07-05,202527.0,2025,17,2025-07-02,4044.0,F,NaN
13344401,2025-06-30,202527.0,2025,17,2025-06-25,4013.0,F,NaN